<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="/style.css">

  {% if page.title %}
  {% set title = page.title %}
  {% elif section.title %}
  {% set title = section.title %}
  {% elif config.title %}
  {% set title = config.title %}
  {% endif %}
  {% if title %}<title>{{ title }}</title>{% endif %}

  {% if config.generate_feed %}
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false)}}">
  {% endif %}

 <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) | safe }}" />
</head>

<body theme="auto">
  <div class="w">
    {% block content %} {% endblock %}
  </div>
</body>

</html>
