{% extends "base.html" %}

{% block content %}

<header>
  <h1 id="title">
    {{ page.title }}
  </h1>
  <div>
    <p>written: {{ page.date }}</p>
    <p>updated: {{ page.updated }}</p>
  </div>
  <a href="/">home</a>
</header>

{{ page.content | safe }}
{% endblock content %}