{% extends "base.html" %}

{% block content %}
<h1 id="page-title">
  {{ section.title }}
</h1>

<p>{{ section.description }}</p>

<nav>
  <table>
    <caption>
      Posts
    </caption>
    <thead>
      <tr>
        <td>Title</td>
        <td>Date</td>
      </tr>
    </thead>
    <tbody>
      {% for page in section.pages %}
      <tr>
        <td><a href="{{ page.permalink | safe }}">{{page.title}}</a></td>
        <td>{{ page.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</nav>

{% endblock %}